include tunir
include tunir.8
include *.py
include docs/*.rst
include README.rst
include MANIFEST.in
include examples/default.json
include examples/default.txt
include examples/vgt.json
include examples/vgt.txt
include examples/multihost.txt
include examples/multihost.cfg
include LICENSE
include COPYING
