include tunir
include tunir.8
include *.py
include docs/*.rst
include README.rst
include MANIFEST.in
include default.json
include default.txt
include vgt.json
include vgt.txt
include multihost.txt
include multihost.cfg
include LICENSE
include COPYING
